<input type="hidden" id="uid" value="<%=%>" />
<form>
  <div class="form-label">
  	<label>دخل رقمك القومى:</label>
  </div>
  <div class="form-input">
  	<input type="text" id="n_id" />
  </div>
  <div class="form-submit">
  	<input value="دور" class="hidetext" type="button" id="n_id_go"  />
  </div>
  <div class="error">                   </div>
  <div class="clearfix"></div>
</form><!-- Form Ends -->

