<input type="hidden" id="f_id" value="<%=%>" />
<div>
  <h2>Find where you will vote</h2>
  <span><b>&nbsp;&nbsp;&nbsp;&nbsp;National ID :<b/><span/><input type="text" id="n_id" /> <input type="button" id="n_id_go" value="Go!"/>
</div>

