<div>
  <h2>Voting location</h2>
  <div><b>&nbsp;&nbsp;&nbsp;&nbsp;School name :<b/> <%= ballot.name%><div/>
  <div><b>&nbsp;&nbsp;&nbsp;&nbsp;School address :<b/> <%= ballot.address%><div/>
</div>
<div id="firends_container">
<!-- 
  <h2>Friends going to the same place</h2>
  <ul>
    <li>Friend 1</li>
    <li>Friend 2</li>
  </ul>
-->
</div>
