    <div class="block">
      	<h2 class="block-title">مكان لجنتك الانتخابيه:</h2>
        <div class="content">
          <table width="100%" border="0" cellspacing="0" cellpadding="10">
            <tr>
              <th scope="row">لجنتك الانتخابية:</th>
              <td><%= @ballot.name%></td>
            </tr>
            <tr>
              <th scope="row">العنوان:</th>
              <td><%= @ballot.address%></td>
            </tr>
            <!--tr>
              <th scope="row">رقم اللجنة الفرعية:	</th>
              <td>200</td>
            </tr>
            <tr>
              <th scope="row">رقمك في الكشوف الانتخابية:</th>
              <td>503</td>
            </tr-->
          </table><!-- Table Ends -->
        </div><!-- Block Content Ends -->
      </div><!-- Block Ends -->
     	<div class="block">
      	<h2 class="block-title">أصحابك اللى معاك فى اللجنة</h2>
        <div class="content">
        <% if @all_friends_using_app == 0 %>
          <h3 class="fail">لا يوجد احد من اصدقائك استخدم البرنامج</h3>
          <!--h3>None of your friends use this app, please share it among your friends to know who will vote with you in the same place.<h3/-->
        <% elsif no_friends %>
          <h3 class="fail"><%= @all_friends_using_app%> من أصحابك بيستخدموا  VoteUnit, للأسف مفيش منهم حد معاك فى نفس اللجنة , إستمر في نشر التطبيق بين أصدقائك وحنقولك لو حد منهم معاك في نفس اللجنة.<h3/>
        <% else %>
          <h3 class="success"><%= @friend_list.count%> من أصحابك حينتخبوا فى نفس اللجنة</h3>
          <div  id="friends_list" class="friends-container">
            <!--
            <div class="friend">
              <a href="JavaScript:void(0);"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/370567_673863990_1117092293_n.jpg" alt="Hashem Zahran" /></a>
            </div><!-- single friend End -->
          </div><!-- Friends Container Ends -->
        <% end %>
        </div><!-- Block Content Ends -->
      </div><!-- Block Ends -->